.filters {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky; /* Зробимо фільтри липкими */
    top: 0; /* Встановлюємо верхню позицію */
}
.filters h3 {
    margin: 0 0 10px 0;
}
.filters label {
    display: block;
    margin-bottom: 5px;
}
.filter-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.filter-toggle:hover {
    background: #0056b3;
}